@page
@model AdminPanel.Pages.CRUD.HashtagPages.IndexModel

@{
    ViewData["Title"] = "Hashtag";
}

<h1>Hashtag</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hashtag[0].Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hashtag[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hashtag[0].Prompt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hashtag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prompt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
