@page
@model AdminPanel.Pages.CRUD.UserPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.GoogleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.GoogleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FacebookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FacebookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.OauthProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.OauthProvider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.SearchHistoryOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.SearchHistoryOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.VisitHistoryOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.VisitHistoryOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.TokensAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.TokensAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
